body {
    font-family: Arial, sans-serif;
    background-color: black;
    color:aqua;
    display: flexbox;
    text-align: center;
    height: auto;
    width: auto;
}
.button1, .button2 {
        background-color: #1c87c9;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
}